@import url('https://fonts.googleapis.com/css?family=Merriweather');
html, body {
  padding:0;
  margin:0;
}
#background  {
  background-image: url("./img/fall%20sittner.jpg");
  filter: opacity(10%) brightness(200%);
  top:0;
  bottom: 0;
  left:0;
  right:0;
  position:fixed;
  z-index: -100;
  background-size: cover;
}
#icon {
  height:auto;
  width: 7rem;
  padding: 2rem;
  padding-bottom: 0;
}
#container {
  display:flex;
  height:100vh;
  justify-content: center;
  align-items: center;
}
#content {
  margin:auto;
  width: 60rem;
  max-width: 100%;
  padding:1rem;
  padding-bottom: 300px;
  font-family: 'Merriweather', serif;
  text-align:justify;
  font-size: 2.0rem;
  line-height: 75px;
  color: #575757;
}
#content h4 {
  text-align: center;
}

#author {
  text-align: right;
}

#button {
  text-align: center;
  margin-top: 2rem;
}
#button a {
  background-color: #28b3e2;
  color: white;
  text-decoration: none;
  padding: 1rem;
  border-radius: 5px;
  transition: all .5s ease;
}
#button a:hover {
  background-color: #1a97c1;
}
#button a:active {
  background-color: #147494;
}


a.normal, a.normal:visited {
  text-decoration: none;
  color: #28b3e2;
}
a.normal:hover {
  text-decoration: underline;
}

.round-photo {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 7rem;
  height: 7rem;
  vertical-align: middle;
  transition: all .2s ease;
}
.round-photo img {
  width:100%;
}
.round-photo:hover {
  transform: rotate(-360deg);
}
